@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: "pinky-unicorn";
  src: url("/src/assets/fonts/Pinky\ Unicorn.ttf") format("truetype");
}

* {
  font-family: "pinky-unicorn";
  scroll-behavior: smooth;
}

.font-comic {
  font-family: "Comic Neue", serif;
}

body {
  background-image: url("./assets/images/png/body-bg.png");
  background-size: cover;
}

.linear-gradient {
  background: linear-gradient(100.7deg, #B62AFF -82.68%, #FF0DF2 143.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.border-linear-gradient {
  background: linear-gradient(100.7deg, #B62AFF -82.68%, #FF0DF2 143.2%);
}

/* ======================================= keyframe Classes ================================================== */
@keyframes moveOnPlace {
  0% {
    transform:translateX(0);
    transform: translateY(0px) ;
  }

  50% {
    transform:translateX(20px) ;
    transform: translateY(50px) ;
  }

  70% {
    transform:translateX(-10px);
    transform: translateY(80px) ;
  }

  100% {
    transform:translateX(0) ;
    transform: translateY(0px) ;
  }
}

.star-img {
  animation: moveOnPlace 5s infinite ease-in-out;
}

@keyframes moveOnPlaceRight {
  0% {
    transform: translateX(0);
    transform: translateY(-10px);
  }

  25% {
    transform: translateX(10px);
    transform: translateY(10px);
  }

  50% {
    transform: translateX(50px);
    transform: translateY(0px);
  }

  70% {
    transform: translateX(-10px);
    transform: translateY(10px);
  }

  85% {
    transform: translateX(40px);
    transform: translateY(-20px);
  }

  100% {
    transform: translateX(0);
    transform: translateY(-10px);
  }
}

.star-img-2 {
  animation: moveOnPlaceRight 5s infinite ease-in-out;
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-animation {
  animation: scrollLeftToRight 10s linear infinite;
  position: absolute;
  left: 0;
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll-animation-two {
  animation: scrollRightToLeft 10s linear infinite;
  position: absolute;
  left: 0;
}